/* Animation */
.bar {
    width: 7px;
    margin: 1.25px;
    border-radius: 10px;
    background: white;
}
.bar-container {
    position: relative;
    top: 10px;
    display: flex;
    max-height: 20px;
    min-height: 20px;
    transform: scaleY(-1.25);
}

/* Loader */
.animation-backdrop {
    display:flex;
    overflow: hidden;
    position: absolute;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: white;
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -75%);
        h3 {
            padding-top: 10px;
            font-size: 1.2rem;
            color: $black;
        }
        img {
            width: 200px;
            height: 200px;
        }
    }
}
.border-animation {
    position: absolute;
    background: $deepPurple;
}
.border-bot {
    @extend .border-animation;
    bottom: 55px;
    left: 0;
    width: 0;
    height: 30px;
   
}
.border-right {
    @extend .border-animation;
    right: 0;
    bottom: 55px;
    width: 20px;
    height: 0;
    transform: scale(-1);
}
.border-top {
    @extend .border-animation;
    right: 0;
    top: 0;
    width: 0;
    height: 20px;
    transform: scale(-1);
}
.border-left {
    @extend .border-animation;
    left: 0;
    top: 0;
    width: 20px; 
}
/* Transistions */

@keyframes slideUp {
    from { 
        top: 100%;
        height: 0;
     }
    to { 
        top: 0; 
        height: 100%;
    }  
}

@keyframes slideLeft {
    from { 
        left: 100%;
        width: 0;
     }
    to { 
        left: 0; 
        width: 100%;
    }  
}


@keyframes fadeIn {
    from { 
        opacity: 0;
     }
    to { 
        opacity: 1;
    }  
}
@keyframes shakeOff {
    0% { left: 10px }
    33% { left: 0px }
    67% { left: 10px }
    100% { left: 0px }
}