/*
================
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
================
*/
$mobile: 320px;
$tablet: 768px;

@media screen and (min-width: $mobile) and (max-width: $tablet) {
    #app {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        min-height: 100vh;
        background: #505050;
        .sunset-skin {
            position: absolute;
            height: 100vh;
            width: inherit;
            background: rgb(98,4,96);
            background: linear-gradient(30deg, rgba(98,4,96,0.5) 0%, rgba(4,73,100,0.5) 100%);
        }
        .menu {
            bottom: 55px;
        }
    }
    #app-desktop {
        display: none;
    }
}
@media screen and (min-width: $tablet) {
    #app-desktop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 320px;
        max-width: 320px;
        min-height: 600px;
        max-height: 600px;
        border: 1px solid $black;
        .sunset-skin {
            position: absolute;

        }
    }
    #app {
        display: none;
    }
}

