/*
================
███╗   ███╗███████╗██████╗ ██╗ █████╗      ██████╗ ██╗   ██╗███████╗██████╗ ██╗███████╗███████╗
████╗ ████║██╔════╝██╔══██╗██║██╔══██╗    ██╔═══██╗██║   ██║██╔════╝██╔══██╗██║██╔════╝██╔════╝
██╔████╔██║█████╗  ██║  ██║██║███████║    ██║   ██║██║   ██║█████╗  ██████╔╝██║█████╗  ███████╗
██║╚██╔╝██║██╔══╝  ██║  ██║██║██╔══██║    ██║▄▄ ██║██║   ██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║
██║ ╚═╝ ██║███████╗██████╔╝██║██║  ██║    ╚██████╔╝╚██████╔╝███████╗██║  ██║██║███████╗███████║
╚═╝     ╚═╝╚══════╝╚═════╝ ╚═╝╚═╝  ╚═╝     ╚══▀▀═╝  ╚═════╝ ╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝
================
*/
$mobile: 320px;
$tablet: 1024px;

@media screen and (max-width: $mobile) {
    html {
        display: none;
    }
}

@media screen and (min-width: $mobile) and (max-width: $tablet) {
    #app {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        min-height: 100vh;
        background: $black;

        .sunset-skin {
            position: absolute;
            height: 100vh;
            width: inherit;
            background: rgb(98, 4, 96);
            background: linear-gradient(30deg, rgba(98, 4, 96, 0.5) 0%, rgba(4, 73, 100, 0.5) 100%);
        }

        .menu {
            bottom: 55px;
        }
        .chat-modifier {
            bottom: 110px;
        }
        ._disabled {
            margin-top: 0px;
        }
    }

    #app-desktop {
        display: none;
    }
}

@media screen and (min-width: $tablet) {
    #app-desktop {
        position: absolute;
        top: 0;
        left: 0;
        right: -1px;
        width: calc(100vw + 1px);
        height: calc(100vh + 1px);
        overflow: hidden;
        background: $black;

        .sunset-skin {
            position: absolute;
            height: 100vh;
            width: inherit;
            background: rgb(98, 4, 96);
            background: linear-gradient(30deg, rgba(98, 4, 96, 0.33) 0%, rgba(4, 73, 100, 0.33) 100%);
        }

        /* Sleek Button*/
        button.add-btn {
            margin-top: 5px;
            background: none;

            svg {
                height: 20px;
                width: 20px;
                fill: white;
            }
        }

        /* Centered Form */
        form.login {
            background: $offWhite;
            max-height: 600px;
            border: .5px solid rgba(15, 15, 15, 0.1);
            -webkit-box-shadow: 0px 6px 8px 0px rgba($purple, 0.2);
            -moz-box-shadow: 0px 6px 8px 0px rgba($purple, 0.2);
            box-shadow: 0px 6px 8px 0px rgba($purple, 0.2);
        }

        button.home-btn {
            top: 50px;
            left: 50px;
        }

        /* Adjusted Notifications */
        .ant-notification-bottomRight {
            right: -5% !important;
        }

        /* Channel Pages */
        .channel-gradient {
            transform: scale(1.25);
            position: relative;
            
        }

        button.spotify {
            margin-bottom: 5px;
        }

        button.back-btn {
            top: 15px;
            svg {
                height: 20px;
                width: 20px;
            }

            p span {
                position: relative;
                top: -5px;
                left: 10px;
            }

            &hover {
                opacity: .75;
            }

            &active {
                transform: scale(0.95);
            }
        }

        .channel-info {
            height: max-content;
            border-bottom: 1px solid white;
            padding-top: 15px;
            h1 {
                text-align: left;
                font-family: $spartan;
                font-weight: $heavy;
                font-size: 2rem;
                margin: 0;
                padding: 0px;
            }

            .channel-bio p {
                margin: 0;
                padding: 0;
                font-size: 0.9rem;
            }
        }

        /* Video Uploads */
        .vid-scroller {
            overflow: hidden;
            width: 100%;
            max-width: inherit;
            max-height: 100%;
            margin: 0;
            margin-top: 25px;

            h3 {
                padding-bottom: 10px;
                font-size: 1.25rem;
                text-align: left;
            }
            p {
                margin-bottom: 0;
            }
            a.overlay {
                margin-bottom: 10px;
            }

            p.thin {
                span {
                    padding-right: 10px;
                }
            }

            .vid-card {
                width: 100%;
                margin: 0;
                margin-right: 10px;
                padding-bottom: 50px;
            }

            .vid-thumbnail {
                width: 100%;
                max-width: 250px;
            }
        }

        .playlist-container {
            max-width: 100%;
            margin: 0;

            h3 {
                margin: 0 auto;
                padding-bottom: 10px;
                font-size: 1.2rem;
                text-align: left;
            }
            .playlist-card {
                max-width: 250px;
                margin: 0 auto;

                h3.playlist-title {
                    padding: 0;
                    font-size: 1rem;
                    text-align: center;
                }

                img.playlist-thumbnail {
                    margin: 5px auto 15px auto;
                }

                // button {
                //     margin: 10px auto;
                // }
            }

        }
        
        // React Gif Keyboard
        .es_componentWrapper__1-bJI {
            overflow-x: hidden;
            overflow-y: hidden;
            position: absolute;
            bottom: 50px;
            left: -10px;
            right: 0px;
            width: 100vw !important;
            max-width: 430px;
            padding: 0px 20px;
            padding-top: 2px;
            font-family: "Spartan", sans-serif;
            background: #0e0e0e; }
    }
    .es_listWrapper__4792f > div > div{
        min-height: 15vh !important;
    }

    #app {
        display: none;
    }

}

@media screen and (max-height: 700px) {
    .channel-bio {
        display: none;
    }
}

@media screen and (min-width: 767px) and (max-width: 1400px) {
    #app {
        top: 50px;
        transform: scale(1.1);
    }

    .artist-card {
        transform: scale(0.9);
    }

    .scaling {
        top: 0px;
    }
    .account-container .account-settings {
        top: 15% !important;
    }
}


@media screen and (min-width: 767px) {
    #clear-fix {
        position: absolute;
        left: -300px;
        max-width: calc(100% - 410px);
    }

}