.login-modal {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
form.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 90%;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    background: white;

    h1.welcome {
        font-family: $spartan;
        font-weight: $heavy;
        font-size: 1.2rem;
        text-align: center;    
        margin: 0 auto;
        padding-bottom: 25px;
        color: $black;
        text-shadow: none;
        text-transform: capitalize;
    }
    h3 {
        color: $black;
    }
    p.forgot {
        margin-top: -15px;
        margin-left: 5px;
        margin-bottom: 5px;
        line-height: 0.7rem;
        font-size: 0.7rem;
        font-weight: $superHeavy;
        color: $purple;
        background: none;
    }
    a {
        
        transition: 300ms ease-in-out;
        &:hover, &:active {
           opacity: 50%
        }
    }
    svg {
        fill: $red;
    }
    input[type=text], input[type=password], input[type=email] {
        width: 100%;
        margin-bottom: 20px;
        padding-left: 10px;
        border: 0.25px solid $black;
        border-radius: 2px;
        color: $black;
        line-height: 25px;
        outline: none;
        &:focus {
            outline: 1px solid $purple;
        }
    }
}
@keyframes slideDownLogin {
    from { 
        top: 0;
     }
    to { 
        top: 45%; 
    }  
}
.lofm-small {
    width: 80px;
    margin: 5px auto;
}