.search-backdrop {
    background: rgb(98,4,96);
    background: linear-gradient(30deg, rgba(98,4,96,0.5) 0%, rgba(4,73,100,0.5) 100%);
    height: calc(100% - 10px);
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 9;
    animation: 300ms ease-in-out fadeIn alternate;
}

.search-container {
    background: rgba(0,0,0, 0.75);
    height: 100%;
}

.ant-select {
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 0;
    padding: 0;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    font-variant: tabular-nums;
    font-feature-settings: 'tnum', "tnum";
    line-height: 1.5715;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    position: relative;
    background-color: rgba($black, 0.33);
    border: none;
    border-bottom: 2px solid white;
    border-radius: 2px;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 50px;
    padding: 10p 11px;
}

.ant-select-selection-placeholder {
    line-height: 55px !important;
    font-family: $spartan;
    font-weight: $light;
}

.ant-input-affix-wrapper>input.ant-input {
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

.ant-select-single .ant-select-selector .ant-select-selection-search-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
}

.ant-input-suffix {
    margin-left: 4px;

    svg {
        opacity: 0.5;
        fill: white;
        height: 24px;
        width: 24px;
    }
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
    border-color: white;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(255, 244, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2);
}

.ant-select-dropdown {
    background: rgba($black, 0.5);
    color: white;
    font-family: $spartan;
    font-size: 1rem;
}

.ant-select-item-option-content {
    @extend .ant-select-dropdown;
    height: 20px;
    margin-bottom: 10px;
    background: transparent !important;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background: rgba($black, 0.5);
    color: white;
}

/* Transistions */

@keyframes slideUp {
    from { 
        top: 100%;
        height: 0;
     }
    to { 
        top: 0; 
        height: 100%;
    }  
}

@keyframes slideLeft {
    from { 
        left: 100%;
        width: 0;
     }
    to { 
        left: 0; 
        width: 100%;
    }  
}


@keyframes fadeIn {
    from { 
        opacity: 0;
     }
    to { 
        opacity: 1;
    }  
}