.support-container {
    @extend .inbox-container;
    animation: 350ms ease-in-out slideUp alternate;
}
.support-header {
    @extend .inbox-header;
    button {
        z-index: 1;
    }
}
.login-container {
    @extend .inbox-container;
    animation: none;
}
.support-header {
    @extend .inbox-header;
    button {
        z-index: 1;
    }
}
.login-form {
    input.ant-input {
        color: $black;
    }
}