/* All parts of the slider */
.gif-player-row {
    position: absolute;
    bottom: 100px;
    left: -10px;
}

.gif-player {
    position: absolute;
    bottom: 0;
    background: rgba($black, 0.85) none repeat scroll 0% 0%;
    padding-bottom: 10px;

    .play-btn {
        position: relative;
        right: 10px;
    }
}
.yt-player {
    height: 60px !important;
    width: 100px !important;
    visibility: hidden;

}
.example-loader {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
}