$black: #1B1B1B;
$darker: #0E0E0E;
$offWhite: #FBFBF8;
$grey: #999999;

$red: #FA6666;
$green: #02CC77;
$blue: #4FCEFF;
$purple: rgb(134, 130, 191);
$deepPurple: #A51FCE;
$pbGradient:  linear-gradient(45deg, $blue 0%, $deepPurple 100%);