@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Spartan:wght@300;800&display=swap');

$spartan: 'Spartan', sans-serif;
$roboto: 'Raleway', sans-serif;

$light: 300;
$normal: 400;
$heavy: 700;
$superHeavy: 800;

$small: 0.9rem;
$paragraph: 1rem;
$header: 1.4rem;


.thin {
    font-weight: $light!important;
}