button {
    background: transparent;
    border: none;

    cursor: pointer;
    transition: 300ms ease-in-out;
}

button.default-btn {
    display: flex;
    justify-content: center;
    min-width: 100%;
    max-width: 280px;
    max-height: 40px;
    margin: 10px 0px;
    padding: 10px 20px;
    background: $purple;
    border: none;
    border-radius: 5px;

    p {
        margin: 0px 10px;
        padding: 0px;
        line-height: 0.8rem;
        letter-spacing: .25px;
        font-family: $spartan;
        font-weight: $superHeavy;
        font-size: $small;
        color: white;
        background: none;
    }

    &:active {
        transform: scale(0.95);
        background: darken($purple, 10%);
    }
}
button.signin-btn {
    width: 100%;
    margin:10px 0px;
    padding: 0px 20px;
    border-radius: 5px;
    background: lighten($purple, 5%);
    p {
        margin: 0;
        padding:10px;
        background: none;
        color: $offWhite;
        font-family: $spartan;
        font-size: 0.7rem;
        font-weight: $heavy;
        text-transform: capitalize;
        width: 100%;
    }
    &:active, &:focus {
        background:darken($purple, 5%);
        transform: scale(0.95);
    }
}
button.add-btn {
    position: relative;
    top: -10px;
    height: 25px;
    width: 25px;
    padding: 0px;
    border: none;
    border-radius: 50%;
    background: white;
    color: $black;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

button.spotify {
    fill: white;
    display: block;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    transition: 300ms ease-in-out;
    cursor: pointer;

    &:active {
        transform: scale(1.2);
        fill: #1DB954;
    }
}

button.youtube {
    @extend .spotify;

    &:active {
        transform: scale(1.2);
        fill: #c4302b;
    }
}

button.soundcloud {
    @extend .spotify;

    &:active {
        transform: scale(1.2);
        fill: #f70;
    }
}


button.chat-btn {
    @extend .default-btn;
    min-width: 280px;
    margin-bottom: 20px;
    svg.chat-bubble {
        fill: white;
        height: 20px;
        width: 20px;
        margin-top: 0px;
    }
    p{
        margin-top: 5px;
    }
    &:active,
    &:focus,
    &:hover {
        transform: scale(0.95);
        background: darken($purple, 10%);
    }
}

button.play-btn {
    height: 38px;
    width: 38px;
    margin-top: 10px;
    margin-right: 10px;
    background: transparent;
    svg {
        position: relative;
        top: 10px;
        height: 24px;
        width: 24px;
    }

    &:active {
        transform: scale(0.9);
    }
}

button.close {
    svg {
        height: 24px;
        width: 24px;
        transition: 300ms ease-in-out;

        &:hover,
        &:active {
            fill: $purple;
        }
    }
}

button.home-btn {
    display: inline;
    position: absolute;
    top: 30px;
    left: 20px;
    color: $black;
    z-index: 99;
    a{
        display: inline-flex;
        color: $black;
        opacity: 0.5;
    }
    svg {
        fill: $black;
        height: 24px;
        width: 24px;
        padding-right: 10px;
        transform: scale(1.67);
        transition: 300ms ease-in-out;
        
        &:hover,
        &:active {
            fill: $purple;
        }
    }
    p {
        background: none;
        padding:0;
        margin-top: 2.5px;
        font-size:0.8rem;
    }
}
.google-btn {
    button {
        min-width: 215px !important;
        max-width: 280px !important;
        margin-top: 10px;
        span {
            width: 100%;
            color: $black;
            margin-top: 2px;
            text-transform: uppercase;
            font-family: $spartan;
            font-weight: $heavy !important;
            font-size: 0.67rem;
            text-align: center;
        }
        div {
            margin: 0px !important;
        }
        svg {
            transform: scale(1.25);
            margin: 2px 10px;
        }
        &:active,
        &:focus {
            transform: scale(0.95);
            background: darken(white, 5%);
        }
    }
}
button.menu-btn {
    position: relative;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    background: $purple;
    border-radius: 50%;
    z-index: 8;
    svg {
        height: 20px;
        width: 20px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        fill: white;
    }
    &:active,
    &:focus {
        transform: scale(0.95);
        background: lighten($black, 15%);
    }
}
button.menu-btn-closed {
    @extend button.menu-btn;
    background: white;
    transform: scale(0.95);
    svg {
        height: 20px;
        width: 20px;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        fill: $red;
    }
    &:active,
    &:focus {
        transform: scale(0.95);
        background: lighten($black, 15%);
    }
}
button.playlist-btn {
    min-width: 220px;
    max-width: 220px;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    background: $deepPurple;
    p { 
        width: 100%;
        margin: 0;
        padding: 0;
        background: none;
        font-size: 0.75rem;
        font-family: $spartan;
        font-weight: $heavy;
    }
    &:hover, &:focus {
        transform: scale(0.95);
        background: darken($deepPurple, 15%);
    }
}