/* Components */
.channel-gradient {
    height: 115px;
    width: 115px;
    border-radius: 50%;
    background: $pbGradient;
}

.channel-profile,
.channel-default {
    position: relative;
    left: 8px;
    top: 8px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url('https://d1u1amw606tzwl.cloudfront.net/assets/users/avatar-default-96007ee5610cdc5a9eed706ec0889aec2257a3937d0fbb747cf335f8915f09b2.png');
    background-size: contain;
}

.gif-holder {
    max-height: 70px;
    border: 3px solid $black;
}

.vid-scroller {
    position: relative;
    top: 10px;
    overflow: hidden;
    height: 100%;
    transform:scale(0.95);
}
.vid-card {
    padding-bottom: 40px;
    transform: scale(1);
}

.vid-thumbnail {
    display: block;
    border: 2px solid $black;
    outline: none;
    height: 125px;
    width:  250px;
    opacity: 0.9;
    object-fit: cover;
    &:hover, &active {
        transform: scale(0.95);
        transition: 500ms ease-in-out;
    } 
} 
.vid-title {
    position: relative;
    left: 5%;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    line-height: 0.9rem;
    margin: 10px 0px 20px 0px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    p {
        font-family: $spartan;
        font-weight: $heavy;
        font-size: 12px;
        width: max-content;
        max-width: 250px;

        overflow: hidden; 
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        text-overflow: ellipsis;
    }
    span {
        margin-right: 5px;
    }
}
.header {
    position: fixed;
    top: 0;
    left:0;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    background: white;
    z-index: 99;

}
.channel-bio {
    overflow: hidden;
    max-height: 150px;
    margin: 1vh 0 1vh 0;
    text-overflow: ellipsis;
    p {
        font-size:0.9rem;
    }
}
