/* Components */
.channel-gradient {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: $pbGradient;
}

.channel-profile,
.channel-default {
    position: relative;
    left: 5px;
    top: 5px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-size: contain;
}

.gif-holder {
    max-height: 70px;
    border: 3px solid $black;
}

.vid-scroller {
    position: relative;
    top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 80vh;
    max-width: 400px;
    margin: 0 auto;
    transform: scale(0.95);
    
    /* Hide scrollbar for Chrome, Safari and Opera */   
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .ant-row {
        justify-content: center;
    }
}
  
.vid-card {
    padding-bottom: 40px;
    transform: scale(1);
}

.vid-thumbnail {
    display: block;
    border: 2px solid $black;
    outline: none;
    height: 140px;
    min-width:  250px;
    opacity: 0.9;
    object-fit: cover;
    &:hover, &active {
        transform: scale(0.95);
        transition: 500ms ease-in-out;
    } 
} 
.vid-title {
    position: relative;
    top: 10px;
    display: flex;
    justify-content: flex-start;
    line-height: 0.9rem;
    margin: 0 auto !important;
    width: 70%;
    text-overflow: ellipsis;
    white-space: nowrap;
    p {
        font-family: $spartan;
        font-weight: $heavy;
        font-size: 12px;
        width: max-content;
        max-width: 250px;

        overflow: hidden; 
        margin-bottom: 5px;
        margin-left: 10px;
        margin-right: 10px;
        text-overflow: ellipsis;
    }
    span {
        margin-right: 5px;
    }
}
.header {
    position: fixed;
    top: 0;
    left:0;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    background: white;
    z-index: 99;

}
.channel-bio {
    overflow: hidden;
    max-height: 150px;
    width: 100%;
    margin: 1vh 0 1vh 0;
    text-overflow: ellipsis;
    h1 {
        width: 100%;
    }
    p {
        font-size:0.9rem;
    }
}

//Playlist Component
.playlist-container {
    position: relative;
    top: 15px;
    height: 100%;
    width: 80vw;
    h3 {
        width: 90%;
        margin: auto;
        font-family: $spartan;
        font-size: 1rem;
        text-align: center; 
    }
    p {

    }
}
img.playlist-thumbnail {
    height: 180px;
    width: 180px;
    margin: 5px auto 15px auto;
    background: url(https://music.uberchord.com/assets/images/png/placeholder-song.png);
    background-size: contain;
    object-fit: contain;
    border: 2px solid white;
}
.social-icons {
    width: 80%;
    margin-top: 20px;
    margin-left: 65px;
}
// Fix content displacement on Framer
