.menu {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    min-height: 50px;
    max-height: 50px;
    background: white;
    z-index: 999;
}
.menu-item {
    display: flex;
    justify-content: center;
    height: 50px;
    width: calc(100vw/5);
    margin: 0px;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     
        height: 24px;
        width: 24px;
        fill: $black;
        stroke-width: 2;
    }
    &:hover, &:active {
        background: rgba($black, 0.05)
    }
}
.support {
    @extend .menu-item; 
    background: $green;
    svg{
        fill: white;
    }
    &:hover, &:active {
        background: darken($green, 15);
    }
}
.favorite {
    @extend .menu-item; 
    &:hover, &:active {
        svg{
            fill: $deepPurple;
        }
    }
}