#menu-floaty {
    position: absolute;
    right: 20px;
    bottom: 5%;
}
.menu-round {
    display: flex;
    justify-content: center;
    height: 50px;
    min-width: 50px;
    max-width: 50px;
    margin: 0px 20px;
    background: white;
    border-radius: 50%;
    svg{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
     
        height: 24px;
        width: 24px;
        fill: $black;
        stroke-width: 2;
    }
    &:hover, &:active {
        background: darken(white, 0.5);
        transform: scale(0.95);
    }
}
.drawer-end {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    .ant-row {
        align-self: flex-end;
        justify-content: flex-end;
        margin: 6px 0px;
    }
    p {
        margin: auto 0;
        padding: 0;
        background: none;
        text-shadow: 1px 1px 1px $black;
    }
}
.support-round {
    @extend .menu-round; 
    background: $green;

    svg{
        fill: white;
    }
    &:hover, &:active {
        background: darken($green, 0.15);
    }
}
.favorite-round {
    @extend .menu-round; 
    background: white;

    svg{
        fill: $purple;
    }
    &:hover, &:active {
        background: darken(white, 0.05)
    }
}

