.ant-notification-topRight {
    right: -10% !important;
}
.lo-welcome {
    width: 90%;
    max-height: 80px;
    background: $black;
    .ant-notification-notice-message {
        margin-bottom: 8px;
        color: $offWhite;
        font-size: 0.8rem;
        line-height: 24px;
    }
    .ant-notification-notice-close {
        position: absolute;
        top: 12px;
        right: 20px;
        color: $offWhite;
        outline: none;
    }
}

